<div class="input-group mb-3">
  <div class="custom-file">
    <input (change)="onFileChange($event)"
           accept="image/*"
           class="custom-file-input"
           type="file"
           id="file-input">

    <label class="custom-file-label" for="file-input">
      {{ value ? 'Update File' : 'Choose file' }}
    </label>
  </div>
</div>

<app-file-preview *ngIf="previewImage && value" [imageSrc]="value">
  <button (click)="handleClearFileInput()" type="button"
          class="btn btn-danger btn-sm ms-3 ml-4">
    <fa-icon icon="ban" size="2x"></fa-icon>
  </button>
</app-file-preview>
