<div class="d-flex">
  <div class="w-100">
    <h3 class="mb-4 text-center">Client Identity</h3>
  </div>
</div>

<form [formGroup]="form">
  <!-- Document Type -->
  <app-form-field labelFor="documentType" label="Document Type">
    <app-single-select
      formControlName="documentType"
      [items]="documentTypeList || []"
      [isLoading]="!documentTypeList"
      labelKey="label"
      valueKey="value"
      placeholder="Select Document Type">
    </app-single-select>
  </app-form-field>

  <!-- Series -->
  <app-form-field labelFor="series" label="Series">
    <input id="series" formControlName="series" type="text" class="form-control">
  </app-form-field>

  <!-- Number -->
  <app-form-field labelFor="number" label="Number">
    <input id="number" formControlName="number" appOnlyNumbers type="text" class="form-control">
  </app-form-field>

  <!-- Issued By -->
  <app-form-field labelFor="issuedBy" label="Issued By">
    <input id="issuedBy" formControlName="issuedBy" type="text" class="form-control">
  </app-form-field>

  <!-- Date of Issue -->
  <app-form-field labelFor="dateOfIssue" label="Date of Issue">
    <app-date-picker formControlName="dateOfIssue"></app-date-picker>
  </app-form-field>

  <!-- File -->
  <app-form-field labelFor="file" label="File">
    <app-file-input formControlName="file"></app-file-input>
  </app-form-field>
</form>
