<div class="d-flex">
  <div class="w-100">
    <h3 class="mb-4 text-center">Client Info</h3>
  </div>
</div>

<form [formGroup]="form">
  <!-- Last Name -->
  <app-form-field labelFor="lastName" label="Last Name">
    <input id="lastName" formControlName="lastName" type="text" class="form-control">
  </app-form-field>

  <!-- Name -->
  <app-form-field labelFor="name" label="Name">
    <input id="name" formControlName="name" type="text" class="form-control">
  </app-form-field>

  <!-- Middle Name -->
  <app-form-field labelFor="middleName" label="Middle Name">
    <input id="middleName" formControlName="middleName" type="text" class="form-control">
  </app-form-field>

  <!-- Date of Birth -->
  <app-form-field labelFor="dateOfBirth" label="Date of Birth">
    <!--    <input id="dateOfBirth" formControlName="dateOfBirth" type="date" class="form-control">-->
    <app-date-picker formControlName="dateOfBirth"></app-date-picker>
  </app-form-field>

  <!-- Phone Number -->
  <app-form-field labelFor="phoneNumber" label="Phone Number">
    <input id="phoneNumber" formControlName="phoneNumber" appOnlyNumbers type="text" class="form-control">
  </app-form-field>

  <!-- Gender -->
  <app-form-field labelFor="gender" label="Gender">
    <app-single-select
      formControlName="gender"
      [items]="genderList"
      labelKey="label"
      valueKey="value"
      placeholder="Select Gender">
    </app-single-select>
  </app-form-field>

  <!-- Client Group -->
  <app-form-field labelFor="clientGroup" label="Client Group">
    <app-multi-select
      formControlName="clientGroup"
      [items]="clientGroupList"
      labelKey="label"
      valueKey="value"
      placeholder="Select Client Groups">
    </app-multi-select>
  </app-form-field>

  <!-- Coordinator -->
  <app-form-field labelFor="coordinator" label="Coordinator">
    <app-single-select
      formControlName="coordinator"
      [items]="coordinatorsList || []"
      [isLoading]="!coordinatorsList"
      labelKey="label"
      valueKey="value"
      placeholder="Select Coordinator">
    </app-single-select>
  </app-form-field>

  <!-- Do not send SMS -->
  <app-form-field>
    <div class="custom-control custom-checkbox">
      <input formControlName="doNotSendSMS" id="doNotSendSMS" type="checkbox" class="custom-control-input">
      <label for="doNotSendSMS" class="custom-control-label hover-pointer">Do no send SMS</label>
    </div>
  </app-form-field>
</form>
