<div class="input-group mb-3">
  <div class="custom-file">
    <input (change)="onFileChange($event)"
           accept="image/*"
           class="custom-file-input"
           type="file"
           id="file-input">

    <label class="custom-file-label" for="file-input">
      {{ value ? 'Update File' : 'Choose file' }}
    </label>
  </div>
</div>



<div *ngIf="previewImage && value" class="d-flex justify-content-center justify-content-md-start align-items-center">
  <div class="preview-image-container">
    <img
      appFileOrStringToImgSrc
      [imageSource]="value"
      src="" alt="Image Preview"
    />
  </div>

    <button (click)="clearFileInput()" type="button"
            class="btn btn-danger btn-sm ms-3 ml-4">
      <fa-icon icon="ban" size="2x"></fa-icon>
    </button>
</div>
